In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.read_csv("SANIMA.csv")

In [3]:
a

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status
0,1/1/2020,314.0,314.0,312.0,313.0,0.00,5127.0,1604871.0,0
1,1/2/2020,311.0,313.0,311.0,313.0,0.00,11998.0,3746067.0,0
2,1/5/2020,313.0,321.0,313.0,318.0,1.60,15644.0,4962350.0,1
3,1/6/2020,321.0,327.0,321.0,326.0,2.52,28001.0,9077192.0,1
4,1/7/2020,331.0,338.0,327.0,334.0,2.45,59699.0,19808354.0,1
...,...,...,...,...,...,...,...,...,...
547,7/6/2022,276.4,276.4,265.7,272.0,0.37,32594.0,8781971.1,1
548,7/7/2022,267.0,277.0,264.6,267.0,-1.84,73488.0,19679072.3,-1
549,7/8/2022,272.3,272.3,260.0,260.0,-2.62,48937.0,12870751.2,-1
550,7/11/2022,260.1,260.2,252.9,253.0,-2.69,55890.0,14266110.9,-1
551,7/12/2022,254.0,260.0,249.0,260.0,2.77,47194.0,11996186.0,1

In [4]:
a.isna().sum()

published_date     2
open               0
high               0
low                0
close              0
per_change         0
traded_quantity    2
traded_amount      0
status             0
dtype: int64

In [5]:
a.dropna(how="any",inplace=True)

In [6]:
a.isna().sum()

published_date     0
open               0
high               0
low                0
close              0
per_change         0
traded_quantity    0
traded_amount      0
status             0
dtype: int64

In [7]:
print("min:",min(a["traded_amount"]))
print("max:",max(a["traded_amount"]))

min: 7950.0
max: 341583972.1

In [8]:
def normalize(a):
    data=df["traded_amount"]
    #setting
    df["traded_amount"]=[round((i-min(a))/(max(a)-min(a)),2)for i in data]
    return df
print(normalize(a))

NameError: name 'df' is not defined

In [ ]:
def bubble_sort(nums):
    n = len(nums)
    # Traverse through all array element
    for i in range(n):
        # Last i elements are already sorted
        for j in range(0, n-i-1):
            # Swap if the element found is greater than the next element
            if nums[j] > nums[j+1] :
                nums[j], nums[j+1] = nums[j+1], nums[j]

# Example usage:
nums = [64, 34, 25, 12, 22, 11, 90]
bubble_sort(nums)
print("Sorted array is:", nums)

In [ ]:
def find_duplicates(lst):
    """
    Finds and returns a new list of repeated items in a provided list.
    """
    duplicates = []
    for item in lst:
        if lst.count(item) > 1 and item not in duplicates:
            duplicates.append(item)
    return duplicates