In [ ]:
amount= int(input("Enter the amount:"))
if(amount >= 1000):
    discount=amount*0.05
print(discount)

In [ ]:
result=[]
while True:
    inp=int(input())
    result.append(inp)
    if len(inp==10):
        break
print(result)
total=0
for i in result:
    total=total+i
print("sum is :",total)
print("average",total/result)

In [1]:
i=0
var1=0
while(i<10):
    num=int(input(f"ENter a{i} number"))
    i=i+1
    var1=var1+num
print(var1)

ENter a0 number11
ENter a1 number1
ENter a2 number1
ENter a3 number1
ENter a4 number1
ENter a5 number1
ENter a6 number1
ENter a7 number1
ENter a8 number1
ENter a9 number1
20

In [2]:
a="I love nepal"
[i.casefold() for i in a.split()]

['i', 'love', 'nepal']

In [3]:
import sys

In [4]:
b="I love nepal"

In [5]:
gc=(i.casefold() for i in a.split())

In [6]:
print(sys.getsizeof(gc))

208

In [9]:
amount= int(input("Enter the amount:"))
if(amount >= 1000):
    discount=amount*0.05
print(discount)

Enter the amount:13000
650.0