In [2]:
tup=()
print(type(tup))

<class 'tuple'>

In [7]:
tup1=(1,2,3,4)
li=list(tup1)
print(li)

[1, 2, 3, 4]

In [8]:
tup2=tup1+(5,6,7)+tup1
print(tup2)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4)

In [11]:
tup3=(1,2,3,4,5,6,7,8)
p,q,*r=tup3
print(p)
print(q)
print(r)

1
2
3 4 5 6 7 8